.home-container {
  width: 100%
}

.charts-container {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .charts-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 550px) {
  .table-container-c {
    width: 80%;
    margin: 10%;
  }
}
