.nav-container {
  width: 100%;
  height: 70px;
  box-shadow: 0 0 3px grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 80%;
  margin: auto;
}

.nav-item {
  float: right;
  margin-top: 10px;
}

.logout {

}
