.container-form {
  background: gainsboro;
  padding: 30px;
  margin: 10px;
  /*border: #ccc solid 1px;*/
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
}

.container-form input {
  text-align: right;
}

.response-text {
  margin-top: 40px;
  padding-top: 10px;
}
