.container-c {
  background: #61dafb;
}

.form-container {
  height: max-content;
  padding: 10px;
  align-self: center;
  margin: auto;
  text-align: right;
  background: aliceblue;
  top: 50%;
  transform: translateY(-50%);
  /*border: #ccc solid 1px;*/
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
}

.input-align {
  text-align: right;
}

.center {
  text-align: center;
}

.danger-input {
  border: red solid 1px;
}

.danger-label {
  color: red;
}

.form-group-danger {
  font-size: 11px;
  color: red;
  margin-top: 2px;
  text-align: right;
}

.submit-btn {
  width: 80px;
  height: 38px;
}

.validate-space {
  margin-bottom: 34px;
}

.validate-auth-space {
  margin-top: 33px;
}

.submit-spinner {
  position: absolute;
  margin-left: 18px;
  margin-top: 5px;
}

.submit-loading {
  opacity: 0.5;
}


.remember-me {
  margin-right: 5px;
  font-size: 12px;
}
